<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Mrfansi Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing" />
        <env name="CLOUDFLARE_TOKEN" value="test-token"/>
        <env name="CLOUDFLARE_ACCOUNT_ID" value="test-account-id"/>
        <env name="CLOUDFLARE_KV_NAMESPACE" value="test-namespace"/>
        <env name="CLOUDFLARE_QUEUE_NAME" value="test-queue"/>
    </php>
</phpunit>
